body {
    direction: rtl;
}

@font-face {
    font-family: font-regular;
    src: url("../fonts/Hacen-Liner-Screen-St.ttf");
    font-display: swap;
}

@font-face {
    font-family: font-bold;
    src: url("../fonts/Hacen\ Liner\ Screen\ Bd.ttf");
    font-display: swap;
}

[type="email"],
[type="number"],
[type="tel"],
[type="url"] {
    direction: rtl;
}

.table tr:first-child td:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}

.table tr:first-child td:last-child {
    border-top-right-radius: 0;
    border-top-left-radius: 10px;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 10px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 10px;
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: right;
}

.accordion-button::before {
    margin-right: 0;
    margin-left: 20px;
}

.rotate-180 {
    transform: rotate(180deg);
}

.slick-slide {
    float: right;
}

.arrowButton {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    &::before {
        border-left-width: 0;
        border-radius: 0 1.1rem 1.1rem 0;
    }
    &::after {
        border-radius: 1.1rem 0 0 1.1rem;
        border-right-width: 0;
    }
}

.step:not(:last-child)::before {
    left: auto;
    right: 20px;
}

.rating {
    direction: ltr;
}

.datepicker {
    direction: rtl;
}

.wizard > .actions > ul > li:not(:last-child) {
    margin-right: 0;
    margin-left: 10px;
}

.wizard > .actions > ul > li:not(:first-child) {
    margin-left: 0;
    margin-right: auto;
}

.wizard > .steps > ul > li:not(:last-child)::before {
    right: auto;
    left: 0;
}

.wizard > .steps > ul > li {
    padding-right: 0;
    padding-left: 50px;
}

@media (max-width: 991.9px) {
    .navbar-collapse {
        left: auto;
        right: 0;
        transform: translateX(250px);
        &.active {
            transform: translateX(0);
            display: block;
        }
    }
}
